<template lang="pug">
button.button
  slot
</template>

<script>
</script>

<style lang="scss" scoped>
  .button {
    @apply flex items-center justify-center px-4 py-2 h-12;
    @apply text-white shadow;
    @apply border rounded-md border-gray-700;
    background: linear-gradient(180deg, rgba(0, 100, 255, 0.2) 0%, rgba(0, 100, 255, 0) 100%), theme('colors.gray.900');

    &:hover {
      @apply bg-gray-800 border-gray-500 shadow-xl;
    }

    & + & {
      @apply ml-1;
    }
  }
</style>
