<template lang="pug">
.switcher-field
  label.switcher-container
    | {{ name }}
    input(
      type="checkbox"
      :id="name"
      :name="name"
      :checked="modelValue"
      @input="$emit('update:modelValue', $event.target.checked)"
    )
    span.checkmark
</template>

<script>
export default {
  props: {
    name: String,
    modelValue: Boolean,
  },
}
</script>

<style scoped lang="scss">
.switcher-field {
  @apply ml-1 mt-1;
}

.switcher-container {
  @apply inline-block relative cursor-pointer select-none;
  padding-left: 35px;
  font-size: 22px;
  min-height: 1.2em;

  & input {
    @apply absolute opacity-0 cursor-pointer h-0 w-0;
  }
}

.checkmark {
  @apply absolute top-0 left-0 bg-gray-500;
  height: 25px;
  width: 25px;
}

.switcher-container:hover input ~ .checkmark {
  @apply bg-gray-400;
}

.switcher-container input:checked ~ .checkmark {
  @apply bg-gray-800;
}

.checkmark:after {
  @apply absolute hidden;
  content: "";
}

.switcher-container input:checked ~ .checkmark:after {
  @apply block;
}

.switcher-container .checkmark:after {
  @apply transform rotate-45 border border-white;
  left: 9px;
  top: 5px;
  width: 8px;
  height: 13px;
  border-width: 0 4px 4px 0;
}
</style>
