<template lang="pug" functional>
.color-field
  select.color-select(
    ref="select"
    :name="name"
    :style="backgroundCss(modelValue)"
    @click="showOptions = !showOptions"
    :disabled="disabled"
  )
  teleport(to="#modal-window")
    .colorModal(v-show="showOptions")
      .allColors
        .hue(v-for="(hue, index) in allColors" :key="index")
          .color(
            v-for="(color, color_index) in hue"
            :key="color_index"
            :style="backgroundCss(color)"
            @click="selectColor(color)"
          )

</template>

<script>
function extractColor (input) {
  if (typeof input === 'string') {
    return input.replace(/[^0-9,]/g, '').split(',')
  } else {
    return input
  }
}

export default {
  props: {
    name: String,
    modelValue: [Array, String],
    disabled: {
      type: Boolean,
      default: false,
    }
  },
  data () {
    return {
      selectedColor: [0,0,0],
      showOptions: false,
    }
  },
  computed: {
    allColors () {
      return this.$store.getters.allColors
    },
  },
  watch: {
    modelValue (newValue) {
      this.selectedColor = extractColor(newValue)
    },
  },
  mounted () {
    document.addEventListener('click', obj => {
      if (obj.target !== this.$refs.select) this.showOptions = false
    })
    this.selectedColor = extractColor(this.modelValue)
  },
  methods: {
    selectColor (color) {
      this.$emit('update:modelValue', extractColor(color))
      this.showOptions = false
    },
    backgroundCss (color) {
      if (color) {
        color = extractColor(color)
        return `background: hsl(${color[0]}, ${color[1]}%, ${color[2]}%)`
      } else {
        return 'background: hsl(0, 0%, 0%)'
      }
    },
  }
}
</script>

<style lang="scss">
.color-field {
  @apply relative;
}

.color-select {
  @apply w-16 h-12 rounded;

  &:disabled {
    @apply opacity-100 appearance-none;
  }
}

.colorModal {
  @apply absolute left-0 top-0 w-screen h-screen bg-gray-800 bg-opacity-90;
  @apply flex justify-center items-center;
}

.allColors {
  @apply flex flex-wrap absolute z-50 p-4 bg-gray-800 shadow-2xl;
  // width: 50vw;

  .hue {
    @apply flex flex-col;

    .color{
      @apply block h-2 w-2;
      width: 4vw;
      height: 4vw;
    }
  }
}
</style>
