<template lang="pug">
.radio-buttons
  span.title(v-if="name !== ''") {{ name }}
  button.radio-button(
    v-for="(button, index) in buttons"
    :key="index"
    @click="setSelected(index)"
    :class="{ selected: selectedId == index }"
  )
    span(v-if="type==='strings'") {{ button }}
    img(v-if="type==='images'" :src="button.image")
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
    buttons: {
      type: Array,
      default: () => [],
    },
    modelValue: [Number, String],
    type: {
      type: String,
      default: 'strings' // other possible value: 'images'
    }
  },
  data () {
    return {
      selectedId: undefined,
    }
  },
  mounted () {
    this.setSelectedId()
  },
  methods: {
    setSelectedId () {
      if (typeof this.modelValue === 'number') {
        this.selectedId = this.modelValue
      } else if (typeof this.modelValue === 'string') {
        if (this.type === 'strings') this.selectedId = this.buttons.findIndex(button => button === this.modelValue)
        if (this.type === 'images') this.selectedId = this.buttons.findIndex(button => button.value === this.modelValue)
      }
    },
    setSelected (index) {
      this.selectedButton = index
      if (this.type === 'strings') this.$emit('update:modelValue', this.buttons[this.selectedButton])
      if (this.type === 'images') this.$emit('update:modelValue', this.buttons[this.selectedButton].value)
    }
  },
  watch: {
    modelValue () {
      this.setSelectedId()
    }
  },
}
</script>

<style lang="scss" scoped>
.radio-buttons {
  @apply flex items-center;
}

.title {
  @apply px-2;
}

.radio-button {
  @apply flex items-center justify-center px-4 py-2 h-12;
  @apply bg-white bg-opacity-10 text-white shadow;
  @apply border border-gray-700;
  width: max-content;

  &:hover {
    @apply bg-opacity-20 shadow-xl;
  }

  &.selected {
    @apply bg-blue-700;
  }

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: theme('borderRadius.md');
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: theme('borderRadius.md');
  }

  .radio-buttons > & ~ & {
    border-left: none;
  }
}
</style>
