<template lang="pug">
.form-field
  .select-field
    select(
      v-model="value"
      :name="name"
    )
      option(
        v-for="option in options"
        :value="option"
        :key="option"
      ) {{ title ? option[title] : option }}

</template>

<script>
export default {
  props: {
    name: String,
    modelValue: [String, Array, Object],
    options: Array,
    title: {
      type: String,
      default: undefined,
    }
  },
  computed: {
    value: {
      get () {
        return this.modelValue
      },
      set (newValue) {
        this.$emit('update:modelValue', newValue)
      }
    }
  },
}
</script>

<style lang="scss" scoped>
  .select-field {
    @apply inline-block relative;

    &::after {
      content: "";
      display: block;
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: theme('colors.white') transparent transparent transparent;
      pointer-events: none;
      position: absolute;
      top: 50%;
      right: 1rem;
      z-index: 1;
      margin-top: -3px;
    }
  }

  select {
    @apply relative flex items-center justify-center pl-4 pr-8 py-2 h-12;
    @apply bg-gray-900 text-white appearance-none;
    @apply border rounded-md border-gray-800;

    &:hover {
      @apply bg-gray-800 border-gray-500;
    }
  }
</style>
