<template lang="pug">
.checkbox-field(@click="change()")
  span.off.name(v-if="off" :class="{ checked: !checked }") {{ off }}
  input.checkbox(type="checkbox" :name="name" :id="name" :checked="value" ref="checkbox")
  .border
    .point
  span.on.name(:class="{ checked: checked }") {{ on }}
</template>

<script>
export default {
  props: {
    name: String,
    on: String,
    off: String,
    value: Boolean,
  },
  data() {
    return {
      checked: false,
    }
  },
  mounted () {
    this.checked = this.$refs.checkbox.checked;
  },
  methods: {
    change () {
      this.$refs.checkbox.checked = !this.$refs.checkbox.checked
      this.checked = this.$refs.checkbox.checked
      this.$emit('input', this.$refs.checkbox.checked)
    }
  },
}
</script>

<style scoped lang="scss">
  .checkbox-field {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .checkbox {
    display: none;
  }

  .name {
    @apply absolute text-gray-900;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s linear;

    &.checked {
      opacity: 1;
    }
  }

  .on {
    left: 1em;
  }

  .off {
    right: 1em;
  }

  .on, .off {
    font-size: 0.7em;
    font-weight: bold;
  }

  .border {
    @apply bg-white flex items-center justify-center rounded-full;
    height: 1.5em;
    width: 5em;
    padding: .5em;
    transition: background-color .2s cubic-bezier(0.77, 0, 0.175, 1); //easeInOutQuart

    .point {
      @apply bg-gray-800 rounded-full;
      height: 1em;
      width: 1em;
      transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55); //easeInOutBack
    }

    .checkbox + & {
      .point {
        transform: translateX(-1.7em);
      }
    }

    .checkbox:checked + & {
      .point {
        transform: translateX(1.7em);
      }
    }
  }
</style>
