<template lang="pug">
.text-field
  .field-with-label
    input(
      :type="inputType"
      :name="inputName"
      :id="inputId"
      :value="modelValue"
      @input="updateModel($event.target.value)"
      :placeholder="placeholder"
      :autocomplete="autocompleteString"
      :required="required"
      :style="inputStyle"
      )
    label(:for="name"): .input-name {{ name }}
  .tip(v-if="$slots['tip']")
    slot(name="tip")
</template>

<script>

function makeid(length) {
   var result           = '';
   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
   var charactersLength = characters.length;
   for ( var i = 0; i < length; i++ ) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }
   return result;
}

export default {
  props: {
    id: String,
    name: String,
    type: String,
    modelValue: [String, Number, Array],
    autocomplete: {
      type: String,
      default: "on"
    },
    placeholder: {
      type: String,
      default: " ",
    },
    required: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
      default: 'normal',
    },
  },
  computed: {
    inputId () {
      return this.id ?? this.name
    },
    inputType () {
      return (this.type || this.type === 'array') ? 'text' : this.type
    },
    autocompleteString () {
      if (this.autocomplete === 'off') {
        return makeid(10)
      } else {
        return 'on'
      }
    },
    inputName () {
      if (this.autocomplete === 'off') {
        return ''
      } else {
        return this.name
      }
    },
    inputStyle () {
      if (this.size === 'small') {
        return 'padding: 5px 8px; height: 100%;'
      } else {
        return ''
      }
    },
  },
  methods: {
    updateModel(value) {
      if (this.type === 'array') {
        this.$emit('update:modelValue', value.split(','))
      } else {
        this.$emit('update:modelValue', value)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.text-field {
  @apply relative;
}

input {
  @apply w-full flex items-center justify-center px-4 py-2 h-12;
  @apply bg-gray-900 text-white;
  @apply border rounded-md border-gray-800;
  
  &:hover {
    @apply bg-gray-800 border-gray-500;

    & + label{
      @apply text-opacity-75;
    }
  }
}

label{
  @apply absolute text-xs text-gray-500 text-opacity-25;
  top: 0;
  left: 1.4em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
