<template lang="pug">
#empty-scenario-page
  h1 Please create or select a scenario
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
#empty-scenario-page {
  @apply w-full h-screen flex justify-center items-center;
}
</style>
