<template lang="pug">
.scenario-page(v-if="scenario?.id !== 0")
  .header-block
    TextInput.w-full.mr-1(name="scenario name" v-model="scenario.name")
    Button(@click="sendDataToViz()") Send
    Button(@click="startViz()") Start
    Button(@click="continueViz()") Continue
    Button(@click="outViz()") Out
  .step(v-for="step in scenario.steps" :key="`${scenario.id}-${step.id}`")
    ResetStep(  v-if="step.kind === 'reset'"          :scenarioId="currentScenarioId" :step="step")
    CountryStep(v-else-if="step.kind === 'countries'" :scenarioId="currentScenarioId" :step="step")
    PointStep(  v-else-if="step.kind === 'points'"    :scenarioId="currentScenarioId" :step="step")
    EmptyStep(  v-else                                :scenarioId="currentScenarioId" :step="step")

  AddNewStepBlock(:scenarioId="currentScenarioId")
</template>

<script>
import TextInput from '@/components/inputs/text'
import Button from '@/components/inputs/button'
import EmptyStep from '@/components/blocks/EmptyStep'
import ResetStep from '@/components/blocks/ResetStep'
import CountryStep from '@/components/blocks/CountryStep'
import PointStep from '@/components/blocks/PointStep'
import AddNewStepBlock from '@/components/blocks/AddNewStep'

export default {
  name: 'Vizrt Map Control Page',
  components: {
    TextInput,
    Button,
    EmptyStep,
    ResetStep,
    CountryStep,
    PointStep,
    AddNewStepBlock,
  },
  provide () {
    return {
      moveStep: this.moveStep,
      copyStep: this.copyStep,
      deleteStep: this.deleteStep,
    }
  },
  computed: {
    currentScenarioId () {
      if (this.$route.params.id) {
        return Number(this.$route.params.id)
      } else {
        return false
      }
    },
    scenario: {
      get: function () {
        if (this.currentScenarioId && this.$store.getters.scenariosCount > 0) {
          return this.$store.getters.getScenario(this.currentScenarioId)
        } else {
          return {}
          // return { id: 0, name: '', steps: [] }
        }
      },
      set: function (newScenario) {
        this.$store.dispatch('updateScenario', newScenario)
      }
    }
  },
  watch: {
    currentScenarioId (newId) {
      if (typeof newId == 'undefined' || newId == 0) {
        this.$router.push('/')
      }
    },
    scenario: {
      deep: true,
      handler () {
        this.$store.dispatch('updateScenario', this.scenario)
      },
    },
  },
  methods: {
    moveStep (stepId, shift) {
      this.$store.commit('moveStep', { scenarioId: this.scenario.id, stepId, shift })
      this.$store.commit('sortSteps', this.scenario.id)
    },
    copyStep (stepId) {
      this.$store.commit('copyStep', { scenarioId: this.scenario.id, stepId })
      this.$store.commit('sortSteps', this.scenario.id)
    },
    deleteStep (stepId) {
      this.$store.commit('deleteStep', { scenarioId: this.scenario.id, stepId })
      this.$store.commit('sortSteps', this.scenario.id)
    },
    
    async sendVariableToViz(varName, varValue) {
      this.$store.state.viz.vizEngines.map(async (vizEngine) => {
        try {
          await fetch(`http://${vizEngine.ip}/api/v1/shm/system/${varName}`, {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(varValue)
          })
          this.$store.commit('setVizEngineStatus', { ip: vizEngine.ip, status: 'OK'})
        } catch (error) {
          console.error('ERROR =', error)
          this.$store.commit('setVizEngineStatus', { ip: vizEngine.ip, status: 'Error'})
        }
      })
    },
    sendDataToViz () {
      this.sendVariableToViz('dudin_map_scenario', JSON.stringify(""))
      this.sendVariableToViz('dudin_map_scenario', JSON.stringify(this.scenario))
    },
    async sendControlToViz (command) {
      await this.sendVariableToViz('dudin_map_command', "5")
      await this.sendVariableToViz('dudin_map_command', command)
    },
    startViz () {
      this.sendControlToViz("1")
    },
    continueViz () {
      this.sendControlToViz("2")
    },
    outViz () {
      this.sendControlToViz("0")
    },
  }
}
</script>

<style lang="scss" scoped>
.header-block {
  @apply flex items-center justify-between w-full px-12 py-2;
  @apply sticky top-0 z-50;
  @apply bg-gray-900 shadow-md;
}

.step {
  @apply z-20;
}
</style>
