<template lang="pug">
#test-page
  Button Push me
  Checkbox(name="Checkbox" v-model="isChecked")
  span isChecked = {{ isChecked }}
  Select(name="Select" :options="['first', 'second', 'third']")
  Switcher(name="Swither" on="Light" off="Dark")
  Checkbox(name="")
  TextInput(name="Text Input")
  RadioButtons(name="Radio Buttons" :buttons="['first', 'second', 'third']" v-model="selected")
</template>

<script>
import Button from '../inputs/button'
import Select from '../inputs/select'
import Switcher from '../inputs/swither'
import Checkbox from '../inputs/checkbox'
import TextInput from '../inputs/text'
import RadioButtons from '../inputs/radiobuttons'

export default {
  components: {
    Button,
    Select,
    Switcher,
    Checkbox,
    TextInput,
    RadioButtons,
  },
  data () {
    return {
      selected: 1,
      isChecked: false,
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
