<template lang="pug">
.add-new-step-part
  ChooseCountries(v-if="showCountrySelecting" @createStep="createCountriesStep($event)" @close="showCountrySelecting = false")
  .new-step-buttons(v-else)
    span.mr-2 Add
    Button(@click="showCountrySelecting = true") counries
    Button(@click="createPointsStep($event)") points
    Button(@click="createResetStep($event)") reset
</template>

<script>
import ChooseCountries from '@/components/parts/ChooseCountries'
import Button from '@/components/inputs/button'

export default {
  components: {
    Button,
    ChooseCountries,
  },
  props: {
    scenarioId: Number,
  },
  data () {
    return {
      showCountrySelecting: false,
    }
  },
  methods: {
    createCountriesStep (countries) {
      this.showCountrySelecting = false
      this.$store.commit('createNewStep', { 
        scenarioId: this.scenarioId,
        stepName: 'countries',
        countries,
      })
    },
    createPointsStep () {
      this.$store.commit('createNewStep', { 
        scenarioId: this.scenarioId,
        stepName: 'points',
      })
    },
    createResetStep () {
      this.$store.commit('createNewStep', { 
        scenarioId: this.scenarioId,
        stepName: 'reset',
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.add-new-step-part {
  @apply w-full px-12 py-4;
}

.new-step-buttons {
  @apply w-full flex items-center justify-center;

  .button + .button {
    @apply ml-2;
  }
}
</style>
