<template lang="pug">
.countries-block
  TransitionPart(v-if="step.order !== 1")
  TitlePart
  .block-content
    .table.coutries-table
      .tr.coutries-table-header
        .th.table-label
          Checkbox(v-model="showAllLabels")
          span Label
          a.border.border-gray-700.rounded.px-2.py-1.mx-2.text-gray-700.cursor-pointer.hover--text-gray-600.hover--border-gray-600(
            @click="isShowShiftLabelInputs = !isShowShiftLabelInputs"
          ) show shifts
        .th.table-label
          Checkbox(v-model="showAllValues")
          span.mr-2 Value
        .th.table-label.col-span-2
          Checkbox(v-model="showAllColors")
          Select.mr-1(v-model="step.colorMode" :options="gradientsOptions")
          HslColorInput(v-if="step.colorMode === 'common color'" v-model="step.commonHslColor")
          Checkbox(v-if="step.colorMode !== 'individual color'" v-model="step.hasColorRandomize" name="Random")
      .tr(v-for="country in step.countries" :key="`${step.id}-${country.name}`")
        .td.country-label.flex.justify-between.items-center
          Checkbox(:name="country.croatian" v-model="country.showLabel")
          .shift-label.flex.ml-2(v-if="isShowShiftLabelInputs")
            TextInput.w-12(v-model.number="country.shiftLabelX" type="number" size="small")
            TextInput.w-12(v-model.number="country.shiftLabelY" type="number" size="small")
        .td.country-value.flex.items-center
          Checkbox(name="" v-model="country.showValue")
          TextInput(v-model="country.value" @input="colorize()" autocomplete="off")
        .td.country-color.flex.items-center
          Checkbox(name="" v-model="country.showColor")
          template(v-if="country.showColor")
            HslColorInput.mr-1(v-model="country.hslColor" :disabled="disableColorSelect")
            TextInput.w-32(v-model="country.hslColor" autocomplete="off" type="array")
        .td.actions
          a.delete-button(@click.prevent="deleteCountry(country)") &times;
    .line.flex.py-4
      Select.mr-1(v-model="newCountry" :options="unchoosenCountries" title="croatian")
      Button(@click="addCountry()") Add country
</template>

<script>
import TransitionPart from '@/components//parts/transition'
import TitlePart from '@/components//parts/title'
import Checkbox from '@/components/inputs/checkbox'
import Select from '@/components/inputs/select'
import TextInput from '../inputs/text'
import HslColorInput from '@/components/inputs/color'
import Button from '@/components/inputs/button'

function getColorFromGradient(hslColorArr, percent){
  let closestTopPos, closestBottomPos
  closestTopPos = 100
  closestBottomPos = 0
  for (const pos in hslColorArr) {
    if (pos >= percent) {
      closestTopPos = Math.min(closestTopPos, pos)
    } else {
      closestBottomPos = Math.max(closestBottomPos, pos)
    }
  }
  const topColor = hslColorArr[closestTopPos]
  const bottomColor = hslColorArr[closestBottomPos]

  let topHue = topColor[0]
  let bottomHue = bottomColor[0]
  if (Math.abs(topHue - bottomHue) > 180) {
    if (topHue > bottomHue) bottomHue += 360
    if (bottomHue > topHue) topHue += 360
  }

  let percentBetweenClosestPoses
  if (closestTopPos - closestBottomPos <= 0) {
    percentBetweenClosestPoses = 0
  } else {
    percentBetweenClosestPoses = (percent-closestBottomPos)/(closestTopPos - closestBottomPos)
  }
  let resultColor = Array(3)
  resultColor[0] = (bottomHue + percentBetweenClosestPoses*(topHue - bottomHue))%360
  resultColor[1] = bottomColor[1] + percentBetweenClosestPoses*(topColor[1] - bottomColor[1])
  resultColor[2] = bottomColor[2] + percentBetweenClosestPoses*(topColor[2] - bottomColor[2])

  resultColor[0] = Math.round(resultColor[0])
  resultColor[1] = Math.round(resultColor[1])
  resultColor[2] = Math.round(resultColor[2])

  return resultColor
}

export default {
  components: {
    TitlePart,
    TransitionPart,
    Checkbox,
    Select,
    TextInput,
    HslColorInput,
    Button,
  },
  props: {
    step: Object,
    scenarioId: Number,
  },
  data () {
    return {
      newCountry: {},
      showAllLabels: true,
      showAllValues: true,
      showAllColors: true,
      gradientsOptions: ['individual color', 'common color'],
      gradientName: '',
      disableColorSelect: false,
      isShowShiftLabelInputs: false,
    }
  },
  provide () {
    return {
      step: this.step
    }
  },
  computed: {
    selectedCountries () {
      return this.step.countries
    },
    unchoosenCountries () {
      const selectedCountriesNames = this.selectedCountries.map(country => country.name)
      let arr = this.$store.state.settings.countriesList.filter(country => selectedCountriesNames.indexOf(country.name) < 0)
      arr = arr.sort((a,b) => (a.croatian > b.croatian) ? 1 : ((b.croatian > a.croatian) ? -1 : 0))
      arr.unshift({})
      return arr
    },
  },
  watch: {
    showAllLabels (newValue) {
      this.step.countries.forEach(country => country.showLabel = newValue)
    },
    showAllValues (newValue) {
      this.step.countries.forEach(country => country.showValue = newValue)
    },
    showAllColors (newValue) {
      this.step.countries.forEach(country => country.showColor = newValue)
    },
    ['step.colorMode'] (newColorMode) {
      this.disableColorSelect = (newColorMode !== 'individual color')
      this.colorize()
    },
    ['step.commonHslColor'] () {
      this.colorize()
    },
    ['step.hasColorRandomize'] () {
      this.colorize()
    }
  },
  mounted () {
    for (const gradientKey in this.$store.state.settings.hslGradients) {
      this.gradientsOptions.push(`gradient: ${gradientKey}`)
    }
    this.disableColorSelect = this.step.colorMode !== 'individual color'
    this.colorize()
  },
  methods: {
    addCountry () {
      if (this.newCountry?.name !== '') {
        this.$store.commit('addCountryInStep', {
          scenarioId: this.scenarioId,
          stepId: this.step.id,
          country: this.newCountry
        })
        this.newCountry = {}
      }
      this.colorize()
    },
    deleteCountry (country) {
      this.$store.commit('deleteCountryInStep', {
        scenarioId: this.scenarioId,
        stepId: this.step.id,
        countryName: country.name,
      })
      this.colorize()
    },
    colorize () {
      if (this.step.colorMode === 'common color') {
        const commonColor = this.step.commonHslColor ?? [0,0,98]
        this.step.countries.forEach(country => country.hslColor = [...commonColor])
      } else if (this.step.colorMode.startsWith('gradient')) {
        let [, gradientName] = this.step.colorMode.split(': ')
        const gradient = this.$store.state.settings.hslGradients[gradientName]

        let min, max
        min = this.step.countries[0].value
        max = this.step.countries[0].value
        this.step.countries.forEach(country => {
          min = Math.min(min, country.value)
          max = Math.max(max, country.value)
        })

        this.step.countries.forEach(country => {
          const percent = (min == 0 && max == 0) ? 50 : 100*(country.value-min)/(max-min)
          country.hslColor = getColorFromGradient(gradient, percent)
        })
      }

      this.randomize()
    },
    randomize () {
      if (this.step.hasColorRandomize) {
        const RANDOM_RANGE = this.$store.state.settings.hslRandomRange
        this.step.countries.forEach(country => {
          let new_lighness = country.hslColor[2] 
          if (this.step.colorMode === 'common color') new_lighness = this.step.commonHslColor[2]
          new_lighness += RANDOM_RANGE*(Math.random() - 0.5)
          new_lighness = Math.min(100, Math.max(0, new_lighness))
          country.hslColor[2] = parseInt(new_lighness)
        })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.countries-block {
  @apply w-full bg-gray-800;
}

.block-content {
  @apply w-full px-12 py-4;
}

.table {
  @apply grid w-full;

  grid-template-columns: fit-content(50%) 1fr 1fr fit-content(10%);
  grid-gap: 2px 1rem;

  .tr {
    display: contents;
  }

  // .td, .th {

  // }
}
.coutries-table-header {
  border-bottom: 1px solid theme('colors.gray.600');
}
.table-label {
  @apply flex items-center;
}

.delete-button {
  @apply px-4 py-2 cursor-pointer text-2xl opacity-50;

  &:hover {
    @apply bg-gray-700 opacity-100;
  }
}
</style>
