<template lang="pug">
.points-block
  TransitionPart(v-if="step.order !== 1")
  TitlePart
  .block-content
    .points-list
      template(v-for="point of step.points" :key="`${step.id}-${point.id}`")
        .point.geom-point(v-if="point.kind==='geom'")
          .line
            span.order {{ point.id }}
            img.h-12(:src="point.thumbnailUrl")
            TextInput.w-80(name="geom path" :id="`point-geom-${step.id}-${point.id}`" v-model="point.path")
            button.delete-button(@click.prevent="deletePoint(point)") &times;
          .line
            TextInput.w-20(name="size %" :id="`point-size-${step.id}-${point.id}`" v-model="point.size" type="number")
            TextInput.w-20(name="rotation" :id="`point-rotation-${step.id}-${point.id}`" v-model="point.rotationZ" type="number")
            TextInput.w-20(name="elevation" :id="`point-elevation-${step.id}-${point.id}`" v-model="point.elevation" type="number")
            HslColorInput(v-model="point.hslColor")
        .point(v-else)
          .line
            span.order {{ point.id }}
            TextInput(name="title" :id="`point-title-${step.id}-${point.id}`" v-model="point.title" autocomplete="off")
            TextInput(name="value" :id="`point-value-${step.id}-${point.id}`" v-model="point.value" autocomplete="off")
            button.delete-button(@click.prevent="deletePoint(point)") &times;
          .line
            RadioButtons.mr-1(name="" :buttons="alignButtons" v-model="point.align" type="images")
            RadioButtons.mr-1(name="" :buttons="kindButtons"  v-model="point.kind"  type="images")
            HslColorInput(v-model="point.hslColor")
      .buttons.flex
        Button(@click="addPoint()") Add Point
        Button(@click="openGeomModal()") Add Geom
        GraphicHubInput(
          v-if="isGeomModalOpen"
          :defaultPath="lastGeomPath"
          @setfile="setGeom($event)"
          @closemodal="isGeomModalOpen = false"
        )
    PointsPointer
</template>

<script>
import TransitionPart from '@/components/parts/transition'
import TitlePart from '@/components/parts/title'
import PointsPointer from '@/components/parts/PointsPointer'
import TextInput from '@/components/inputs/text'
import Button from '@/components/inputs/button'
import HslColorInput from '@/components/inputs/color'
import RadioButtons from '@/components/inputs/radiobuttons'
import GraphicHubInput from '@/components/inputs/gh'

export default {
  components: {
    TransitionPart,
    TitlePart,
    PointsPointer,
    TextInput,
    Button,
    HslColorInput,
    RadioButtons,
    GraphicHubInput,
  },
  props: {
    step: Object,
    scenarioId: Number,
  },
  data () {
    return {
      isGeomModalOpen: false,
      lastGeomPath: '',
      alignButtons: [
        {
          image: '/icons/label-align-right.svg',
          value: 'right'
        },
        {
          image: '/icons/label-align-center.svg',
          value: 'center'
        },
        {
          image: '/icons/label-align-left.svg',
          value: 'left'
        },
      ],
      kindButtons: [
        {
          image: '/icons/point-kind-dot.svg',
          value: 'dot'
        },
        {
          image: '/icons/point-kind-circles.svg',
          value: 'circles'
        },
      ]
    }
  },
  provide () {
    return {
      step: this.step
    }
  },
  mounted () {
    this.lastGeomPath = this.$store.state.gh.defaultPath
  },
  methods: {
    addPoint () {
      this.$store.commit('addPoint', { scenarioId: this.scenarioId, stepId: this.step.id })
    },
    deletePoint (point) {
      this.$store.commit('deletePoint', { scenarioId: this.scenarioId, stepId: this.step.id, pointId: point.id })
    },
    openGeomModal () {
      this.defaultGeomPath = this.lastGeomPath
      this.isGeomModalOpen = true
    },
    changeGeomPath (point) {
      this.defaultGeomPath = point.path
      this.isGeomModalOpen = true
    },
    setGeom (geom) {
      this.isGeomModalOpen = false
      if (geom) {
        this.$store.commit('addGeomPoint', { scenarioId: this.scenarioId, stepId: this.step.id, geom })
        this.lastGeomPath = geom.path.substring(0, geom.path.lastIndexOf('\\'))
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.points-block {
  @apply w-full bg-gray-800;
}

.block-content {
  @apply flex justify-between w-full px-12 py-4;
}

.point {
  @apply flex flex-col mb-2;

  .line {
    @apply flex relative mb-1;
  }

  .order {
    @apply absolute text-white text-opacity-25;
    left: -1.2rem;
    top: 0.7rem;
  }

  .delete-button {
    @apply px-4 py-1 cursor-pointer text-2xl opacity-50;

    &:hover {
      @apply bg-gray-700 opacity-100;
    }
  }
}
</style>
