<template lang="pug">
.reset-block
  TransitionPart(v-if="step.order !== 1")
  TitlePart
</template>

<script>
import TransitionPart from '../parts/transition'
import TitlePart from '../parts/title'

export default {
  components: {
    TransitionPart,
    TitlePart,
  },
  props: {
    step: Object,
    scenarioId: Number,
  },
  provide () {
    return {
      step: this.step
    }
  },
}
</script>

<style lang="scss" scoped>
.reset-block {
  @apply w-full;
}
</style>
