<template lang="pug">
.scenario-tab
  .scenario-title
    .name.leading-6
      span {{ scenario.name }}
      span.ml-2.opacity-25 id: {{ scenario.id }}
    .actions
      a.delete-button(@click.prevent="deleteScenario") &times;
  .scenario-details
    .decription.pr-2
      p {{ description }}
  .timestamps
    p created {{ formatedData(scenario.created_at) }}
    p updated {{ formatedData(scenario.updated_at) }}
</template>

<script>
export default {
  props: {
    scenario: Object,
  },
  computed: {
    description () {
      if (this.scenario.steps) {
        return `${this.scenario.steps.length} steps`
      } else {
        return ''
      }
    }
  },
  methods: {
    formatedData (date) {
      return date
    },
    deleteScenario () {
      if (window.confirm("Dou you want to delete the scenario?")) {
        this.$store.dispatch('deleteScenario', this.scenario.id)
        this.$router.push('/')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.scenario-tab {
  @apply flex flex-col px-4 py-2 cursor-pointer;

  &:hover {
    
    .actions {
      @apply opacity-30;
    }
  }
}

.scenario-title {
  @apply flex justify-between items-center;

  .name {
    @apply text-xl;
  }

  .actions {
    @apply flex items-center opacity-10;

    &:hover {
      @apply opacity-100;
    }
  }
}

.delete-button {
  @apply text-2xl cursor-pointer px-4 py-1;
}

.scenario-details {
  @apply flex justify-between opacity-75;
}

.timestamps {
  @apply flex flex-col items-start font-mono text-xs text-gray-400 text-opacity-25;
}
</style>
