<template lang="pug">
.choose-countries-part
  .select-set-buttons
    Button(@click="selectAll") select all
    Button(@click="invertSelection") invert&nbsp;selection
    Button(@click="clearSelection") clear&nbsp;selection
    Select.mx-1(:options="presetsNames" v-model="selectedPreset")
    Button(@click="deletePreset" v-if="showDeletePresetButton") Delete&nbsp;preset
    Button(@click="saveAsPreset") Save&nbsp;preset
  .countries-list
    .country-selector(v-for="country in countries" :key="country.name")
      Checkbox(:name="country.croatian" v-model="country.checked" @click="selectedPreset = ''")
  .action-buttons
    Button(@click="createCountryStep") Create Countries Step
    a.close(@click="$emit('close')")
      | cancel
      span.text-2xl.pb-1.pl-2 &times;
</template>

<script>
// list of Europe Union countries:
// https://worldpopulationreview.com/country-rankings/european-union-countries

import Button from '@/components/inputs/button'
import Select from '@/components/inputs/select'
import Checkbox from '@/components/inputs/checkbox'

export default {
  components: {
    Button,
    Select,
    Checkbox,
  },
  data () {
    return {
      selectedPreset: undefined,
      countries: [],
      showDeletePresetButton: false,
    }
  },
  computed: {
    presetsNames () {
      return ['', ...Object.keys(this.$store.state.settings.countriesSets)]
    }
  },
  watch: {
    selectedPreset (newPreset) {
      if (newPreset) {
        const countries = this.$store.state.settings.countriesSets[newPreset]
        this.countries.forEach(checkboxCountry => {
          checkboxCountry.checked = (countries.findIndex(country => country === checkboxCountry.name) >= 0)
        })
        this.showDeletePresetButton = true
      } else {
        this.showDeletePresetButton = false
      }
    }
  },
  mounted () {
    this.$store.state.settings.countriesList.forEach(country => {
      this.countries.push({
        name: country.name,
        croatian: country.croatian,
        checked: false,
      })
    })
    this.countries.sort((a, b) => a.croatian > b.croatian ? 1 : -1)
  },
  methods: {
    createCountryStep () {
      const selectedList = this.countries.filter(country => country.checked).map(country => {return { name: country.name, croatian: country.croatian }})
      this.$emit('create-step', selectedList)
      this.selectedPreset = ''
    },
    selectAll () {
      this.countries.forEach(country => country.checked = true)
      this.selectedPreset = ''
    },
    invertSelection () {
      this.countries.forEach(country => country.checked = !country.checked)
      this.selectedPreset = ''
    },
    clearSelection () {
      this.countries.forEach(country => country.checked = false)
      this.selectedPreset = ''
    },
    async saveAsPreset () {
      const countriesList = this.countries.filter(country => country.checked).map(country => country.name)
      if (countriesList && countriesList.length > 0) {
        const presetName = prompt("Enter new preset name")
        if (presetName === null) return

        try {
          const response = await fetch(`http://${this.$store.state.scenarios.jsonServer.ip}/presets`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json;charset=utf-8' },
            body: JSON.stringify({ name: presetName, countries: countriesList })
          })
          if (response.ok) {
            const json = await response.json()
            this.$store.commit('addNewCountriesPreset', json)
            console.log("SAVE Preset: OK")
            this.$store.commit('setJsonServerStatus', 'OK')
          } else {
            console.log("SAVE Preset: ERROR: ", response.statusText)
            this.$store.commit('setJsonServerStatus', 'ERROR')
          }
        } catch (error) {
          console.log('Fetch Error:', error)
          this.$store.commit('setJsonServerStatus', 'ERROR')
        }
      }
    },
    async deletePreset () {
      const presetId = this.$store.state.settings.countriesSetsIds[this.selectedPreset]
      if (presetId) {
        if (!confirm(`Are sure to delete the preset ${this.selectedPreset}?`)) return

        try {
          const response = await fetch(`http://${this.$store.state.scenarios.jsonServer.ip}/presets/${presetId}`, {
            method: 'DELETE'
          })
          if (response.ok) {
            console.log("Delete preset: OK")
            this.$store.commit('setJsonServerStatus', 'OK')
            this.$store.commit('deleteCountriesPreset', this.selectedPreset)
          } else {
            console.log("Delete preset: ERROR: ", response.statusText)
            this.$store.commit('setJsonServerStatus', 'ERROR')
          }
        } catch (error) {
          console.log('Fetch Error :-S', error)
          this.$store.commit('setJsonServerStatus', 'ERROR')
        }
      } else {
        alert('I can\'t delete because it is a default preset. In order to delete this preset, please, erase it from settings.json')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.close {
  @apply p-4 opacity-50 cursor-pointer flex items-center;

  &:hover {
    @apply opacity-100;
  }
}

.choose-countries-part {
  @apply relative flex flex-col items-center justify-center w-full bg-gray-700;
}

.select-set-buttons {
  @apply w-full flex justify-center flex-wrap pt-4 px-2;
}

.countries-list {
  @apply flex flex-col flex-wrap w-full py-4 px-12;
  max-height: 70vh;

  .country-selector:nth-child(10n) {
    // @apply bg-yellow-400;
    // flex-break: after;
    // flex-basis: 100%;
  }
}

.action-buttons {
  @apply flex items-center pb-4;
}
</style>
