<template lang="pug">
.points-pointer
  .points-pointer-map(:class="{dragging: isDragging}" :style="{width: `${mapWidth}px`, height: `${mapHeight}px`}")
    .map(ref="map")
    .controls
      .zooms
        .zoom(v-for="zoom in zoomLevels" :class="{selected: zoomLevel === zoom}" @click="zoomLevel = zoom") x{{ zoom }}
      .sizes
        .size(@click="increaseMapSize") +
        .size(v-if="mapHeight>400" @click="decreaseMapSize") -
    .cross(v-if="!isDragging")
      .cross-x(:style="{ position: 'absolute', top:0, left:`${crossX}px`, width: '1px', height: '100%' }")
      .cross-y(:style="{ position: 'absolute', top:`${crossY}px`, left:0, width: '100%', height: '1px' }")
    .point(
      v-for="point of step.points"
      :ref="`point-${step.id}-${point.id}`"
      :id="`point-${step.id}-${point.id}`"
      :key="`point-${step.id}-${point.id}`"
      :style="{ width: `${pointSize}px`, height: `${pointSize}px`, left: pointLeftPositionCss(point.positionX, point.id), top: pointTopPositionCss(point.positionY, point.id), background: backgroundCss(point.hslColor) }"
      :class="{ 'text-black': isDarkColor(point.hslColor), [point.kind]: true }"
      :data-id="point.id"
    ) {{ point.id }}
      .info(:class="point.align" :style="{left: `${pointSize/2.0}px`}")
        .title(v-if="point.title") {{ point.title }}
        .value(v-if="point.value") {{ point.value }}
        img.h-12.thumbnail(v-if="point.thumbnailUrl" :src="point.thumbnailUrl")

</template>

<script>
export default {
  data () {
    return {
      isDragging: false,
      draggingPoint: null,
      // mapWidth: 398,
      // mapHeight: 296,
      baseMapWidth: 600,
      baseMapHeight: 600,
      mapWidth: 600,
      mapHeight: 600  ,
      pointSize: 15,
      zoomLevels: [1, 2, 3, 5, 8],
      zoomLevel: 2,
      mapShiftX: 0,
      mapShiftY: 0,
      pos1: 0,
      pos2: 0,
      pos3: 0,
      pos4: 0,
      crossX: 0,
      crossY: 0,
    }
  },
  inject: ['step'],
  mounted () {
    this.setPointsDraggable()
    this.mapWidth = this.baseMapWidth
    this.mapHeight = this.baseMapHeight
  },
  computed: {
    pointsCount () {
      return this.step.points.length
    },
  },
  watch: {
    pointsCount () {
      this.setPointsDraggable()
    }
  },
  methods: {
    increaseMapSize () {
      this.mapWidth += 200
      this.mapHeight += 200 * this.baseMapHeight/this.baseMapWidth
    },
    decreaseMapSize () {
      this.mapWidth -= 200
      this.mapHeight -= 200 * this.baseMapHeight/this.baseMapWidth
    },
    pointLeftPositionCss (posX, pointId) {
      if (this.isDragging) {
        if (pointId == this.draggingPoint.dataset.id) {
          return "inheritable"
        } else {
          return `${(this.mapWidth*posX/100.0)*this.zoomLevel  - this.pointSize/2.0 - this.mapShiftX}px`
        }
      } else {
        return `${this.mapWidth*posX/100.0 - this.pointSize/2.0}px`
      }
    },
    pointTopPositionCss (posY, pointId) {
      if (this.isDragging) {
        if (pointId == this.draggingPoint.dataset.id) {
          return "inheritable"
        } else {
          return `${(this.mapHeight*posY/100.0)*this.zoomLevel  - this.pointSize/2.0 - this.mapShiftY}px`
        }
      } else {
        return `${this.mapHeight*posY/100.0 - this.pointSize/2.0}px`
      }
    },
    isDarkColor (color) {
      if (color) {
        return color[2] > 90
      } else {
        return false
      }
    },
    backgroundCss (color) {
      if (color) {
        return `hsl(${color[0]}, ${color[1]}%, ${color[2]}%)`
      } else {
        return `hsl(0, 0%, 0%)`
      }
    },

    setPointsDraggable () {
      this.$nextTick(() => {
        this.step.points.forEach(point => {
          // dragElement(this.$refs[`point-${this.step.id}-${point.id}`], 0, this.mapWidth, this.mapHeight, 0, point, this.startDragging, this.stopDragging, this.$refs.map)
          this.$refs[`point-${this.step.id}-${point.id}`].onmousedown = this.dragMouseDown
        })
      })
    },

    dragMouseDown (e) {
      this.draggingPoint = e.target
      this.isDragging = true
      e = e || window.event
      e.preventDefault()
      // get the mouse cursor position at startup:
      this.pos3 = e.clientX
      this.pos4 = e.clientY
      document.onmouseup = this.closeDragElement
      // call a function whenever the cursor moves:
      document.onmousemove = this.elementDrag
      this.elementDrag(e)
    },
    elementDrag (e) {
      e = e || window.event
      e.preventDefault()
      // calculate the new cursor position:
      this.pos1 = this.pos3 - e.clientX
      this.pos2 = this.pos4 - e.clientY
      this.pos3 = e.clientX
      this.pos4 = e.clientY

      // set the element's new position:
      let newPosX = this.draggingPoint.offsetLeft - this.pos1
      let newPosY = this.draggingPoint.offsetTop - this.pos2
      if (0 < newPosX && newPosX < this.mapWidth-this.pointSize && 0 < newPosY && newPosY < this.mapHeight-this.pointSize) {
        this.draggingPoint.style.left = newPosX + 'px'
        this.draggingPoint.style.top = newPosY + 'px'
      }

      // set the map scale and position
      this.mapShiftX = (newPosX + this.pointSize/2.0)*(this.zoomLevel-1)
      this.mapShiftY = (newPosY + this.pointSize/2.0)*(this.zoomLevel-1)
      this.$refs.map.style.width  = `${100*this.zoomLevel}%`
      this.$refs.map.style.height = `${100*this.zoomLevel}%`
      this.$refs.map.style.left = `${-this.mapShiftX}px`
      this.$refs.map.style.top  = `${-this.mapShiftY}px`
    },
    closeDragElement () {
      // stop moving when mouse button is released:
      document.onmouseup = null;
      document.onmousemove = null;
      const pointId = Number(this.draggingPoint.dataset.id)
      const point = this.step.points.find(p => p.id == pointId)

      point.positionX = 100*( Number(this.draggingPoint.style.left.replace(/[^0-9]/g, '')) + this.pointSize/2.0 )/this.mapWidth
      point.positionY = 100*( Number(this.draggingPoint.style.top.replace(/[^0-9]/g, '')) + this.pointSize/2.0 )/this.mapHeight

      
      
      this.crossX = Number(this.draggingPoint.style.left.replace(/[^0-9]/g, '')) + this.pointSize/2.0 
      this.crossY = Number(this.draggingPoint.style.top.replace(/[^0-9]/g, '')) + this.pointSize/2.0 


      this.isDragging = false

      // return the map default scale and position
      this.mapShiftX = 0
      this.mapShiftY = 0
      this.$refs.map.style.width  = '100%'
      this.$refs.map.style.height = '100%'
      this.$refs.map.style.left = '0px'
      this.$refs.map.style.top  = '0px'
    },
  }
}
</script>

<style lang="scss" scoped>
.points-pointer-map {
  @apply relative rounded-lg overflow-hidden;
  // width: 398px;
  // height: 296px;
  width: 664px;
  height: 663px;

  &.dragging {
    @apply shadow-xl;
  }
}

.map {
  @apply absolute w-full h-full top-0 left-0 bg-contain;
  background-image: url(/map-for-manual-point-2.jpg);
}

.controls {
  @apply absolute left-0 top-0 bottom-0 flex flex-col justify-between;
}

.zooms, .sizes {
  @apply flex flex-col;
}

.zoom, .size {
  @apply px-2 py-1 bg-gray-400 bg-opacity-20 cursor-pointer text-center;

  &:hover {
    @apply bg-opacity-50;
  }

  &.selected {
    @apply border-r-2 border-gray-200;
  }
}

.point {
  @apply absolute rounded-full bg-gray-900 border border-white text-xs z-10 opacity-80;
  @apply flex justify-center items-center cursor-move select-none -translate-y-1/2 -translate-x-1/2;
  width: 20px;
  height: 20px;

  &.geom {
    @apply rounded-none;
  }
  
  .info {
    @apply absolute flex bg-gray-900 opacity-0 pointer-events-none text-white z-10;
    bottom: 1rem;
    left: 0;
    width: max-content;


    &.right { transform: translateX(-100%); }
    &.center { transform: translateX(-50%); }
    &.left { transform: translateX(0%); }

    .title {
      @apply bg-gray-800 px-2 py-1;
    }

    .value {
      @apply bg-gray-700 px-2 py-1;
    }
  }

  &:hover {
    @apply z-50;

    .info {
      @apply opacity-100 z-50;
    }
  }

  &.circles::before {
    @apply absolute bg-transparent rounded-full border border-white;
    content: '';
    width: 160%;
    height: 160%;
    top: -30%;
    left: -30%;
  }
}


@keyframes blink {
from {opacity: 0;}
5% {opacity: 100;}
to {opacity: 0;}
}

.cross {
  opacity: 0;
  animation: blink 1s 1;
}

.cross-x, .cross-y {
  @apply bg-white;
}

</style>
