<template lang="pug">
.title-part
  .number
    | {{ step.order }} 
  .title
    span.mr-2 {{ step.title }} 
    span.text-gray-700.mr-2 id: {{ step.id }}
    template(v-if="hasPadding")
      TextInput.w-16(v-model.number="step.transition.padding" type="number")
      span.pl-2 % padding
  .actions
    a.action-button.copy-button(@click.prevent="copy")
      img(src="/icons/copy.svg")
    a.action-button.up-button(@click.prevent="up")
      img(src="/icons/up.svg")
    a.action-button.down-button(@click.prevent="down")
      img(src="/icons/down.svg")
    a.action-button.delete-button(@click.prevent="delete") &times;
</template>

<script>
import TextInput from '../inputs/text'

export default {
  components: {
    TextInput,
  },
  inject: ['step', 'moveStep', 'copyStep', 'deleteStep'],
  computed: {
    hasPadding () {
      return this.step.kind !== 'reset' && (this.step.transition.animStyle !== 'no move' || this.step.order == 1)
    }
  },
  methods: {
    up () {
      this.moveStep(this.step.id, -1)
    },
    down () {
      this.moveStep(this.step.id, 1)
    },
    copy () {
      this.copyStep(this.step.id)
    },
    delete () {
      this.deleteStep(this.step.id)
    },
  },
}
</script>

<style lang="scss" scoped>
.title-part {
  @apply relative flex items-center justify-between w-full bg-gray-800 px-12;

  &:hover {
    @apply bg-blue-900;
  }

  .number {
    @apply absolute text-right text-xl opacity-25;
    left: 1.2em;
  }

  .title {
    @apply text-xl my-2 flex items-center;
  }

  .actions {
    @apply flex opacity-50 items-center;

    &:hover {
      @apply opacity-100;
    }
  }
}

.action-button {
  @apply block text-2xl cursor-pointer px-4 py-1 opacity-50 flex items-center;
  height: 30px;

  &:hover {
    @apply opacity-100;
  }

  &:active {
    transform: scale(2);
  }
}
</style>
