<template lang="pug">
.transition-part
  RadioButtons(v-model="step.transition.kind" :buttons="kindNames")
  RadioButtons(v-model="step.transition.animStyle" :buttons="animStyleNames")
  //- RadioButtons(v-model="step.transition.mapFit" :buttons="['auto-fit', 'manual']")
  //- template(v-if="step.transition.animStyle !== 'no move'")
  //-   TextInput.w-16(v-model.number="step.transition.padding" type="number")
  //-   span.pl-2 % padding
</template>

<script>
import RadioButtons from '../inputs/radiobuttons'

export default {
  components: {
    RadioButtons,
  },
  inject: ['step'],
  data () {
    return {
      kindNames: ['add', 'replace'],
    }
  },
  computed: {
    animStyleNames () {
      if (this.step.transition.kind === 'replace') {
        return ['no move', 'linear', 'jump']
      } else {
        return ['no move', 'linear']
      }
    },
  },
  watch: {
    ['step.transition.kind'] (value) {
      if (value === 'add') {
        this.step.transition.animStyle = 'linear'
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.transition-part {
  @apply w-full px-12 py-1 flex items-center bg-gray-900;

  .radio-buttons {
    @apply mr-1;
  }
}
</style>
