<template lang="pug">
.files-page
  .settings-panel
    TextInput.w-full.mr-1(v-model="currentFolderPath" @enter="openFolder()")
    RadioButtons.mr-1(v-model="filterMode" :buttons="['all', 'scene', 'geom', 'image']")
    RadioButtons.mr-1(v-model="layoutMode" :buttons="['list', 'grid']")
    RadioButtons(v-model="sortMode" :buttons="['title', 'updated']")
  .files-list(v-if="layoutMode === 'list'")
    .file-list-item(v-for="file in sortedFilteredFiles" @click="selectFile(file)")
      img.list-thumbnail(v-if="file.thumbnail" :src="file.thumbnail")
      .title {{ file.title }}
      template(v-for="category in file.categories" :key="category")
        span.category(v-if="category!=='asset'") {{ category }}
  .files-grid(v-if="layoutMode === 'grid'")
    .file-grid-item(v-for="file in sortedFilteredFiles" @click="selectFile(file)")
      img.grid-thumbnail(v-if="file.thumbnail" :src="file.thumbnail")
      .title {{ file.title }}
      template(v-for="category in file.categories" :key="category")
        span.category(v-if="category!=='asset'") {{ category }}
</template>

<script>
import RadioButtons from '@/components/inputs/radiobuttons'
import TextInput from '@/components/inputs/text'

export default {
  components: {
    RadioButtons,
    TextInput,
  },
  data () {
    return {
      timerPathChanged: undefined,
      layoutMode: 'grid',
      filterMode: 'geom',
      sortMode: 'title',
    }
  },
  computed: {
    currentFolderPath: {
      get () {
        return this.$store.state.gh.currentFolderPath
      },
      set (newPath) {
        clearTimeout(this.timerPathChanged)
        this.timerPathChanged = setTimeout(() => {
          this.$store.commit('setCurrentFolderPath', newPath)
        }, 100)
      }
    },
    files () {
      return this.$store.getters.files
    },
    filteredFiles () {
      if (this.filterMode === 'all') {
        return this.files
      } else {
        const filterName = this.filterMode.toUpperCase()
        return this.files.filter(file => file.categories.includes(filterName))
      }
    },
    sortedFilteredFiles () {
      let files = this.filteredFiles
      files.sort((a, b) => a[this.sortMode] > b[this.sortMode] ? 1: -1)
      return files
    },
  },
  methods: {
    openFolder () {
      this.$store.dispatch('openFolderByPath', this.currentFolderPath)
    },
    selectFile (file) {
      this.$store.commit('setSelectedFile', file)
    }
  },
}
</script>

<style lang="scss" scoped>
.files-page {
  @apply w-full;
}

.settings-panel {
  @apply flex w-full px-2 py-1;
}

// ----------------------------

.files-list {
  @apply flex flex-col px-3 py-1;
}

.file-list-item {
  @apply flex items-center text-gray-300 bg-gray-700;

  &:hover {
    @apply bg-gray-900;
  }
}

.list-thumbnail {
  @apply w-16 mr-4;
}

// ----------------------------

.files-grid {
  @apply w-full grid gap-2 p-2;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.file-grid-item {
  @apply border border-gray-800 p-4 text-gray-300 bg-transparent overflow-hidden;

  &:hover {
    @apply border-gray-600 bg-gray-800;
  }
}

.category {
  @apply inline-block bg-gray-900 px-2 py-1 mx-1 rounded;
}
</style>
