<template lang="pug">
.file-page(v-if="file")
  img.thumnail(:src="file.thumbnail")
  h3.path {{ file.path }}
  h2.title {{ file.title }}
  span.updated {{ file.updated }}
  template(v-for="category in file.categories" :key="category")
    span.category(v-if="category!=='asset'") {{ category }}
</template>

<script>
export default {
  computed: {
    file () {
      return this.$store.state.gh.selectedFile
    }
  }
}
</script>

<style lang="scss" scoped>
.file-page {
  @apply block flex flex-col items-start text-gray-300 overflow-hidden pl-4;
}

.category {
  @apply inline-block bg-gray-900 px-2 py-1 rounded;
}

.path {
  @apply block opacity-50 truncate w-full;
}

.title {
  @apply block text-2xl truncate w-full;
}

.updated {
  @apply opacity-50;
}
</style>
