<template lang="pug">
.folders-page
  //- btn.m-1(@click="loadFolders()") Load root folder
  .folder-item(
    v-for="(folder, index) of folders"
    :class="[`level-${folder.level}`, index === currentFolderindex ? 'selected' : '']"
    :key="folder.UUID"
  )
    span.spaces(v-for="index in folder.level" :key="index") &nbsp;&nbsp;
    button.expand(@click="toggleFolder(folder)")
      span.arrow(:class="[folder.category.toLowerCase(), folder.isExpanded? 'open': '']")
    span.folder-name(@click="setCurrentFolder(folder)") {{ folder.title }}
</template>

<script>
import btn from '@/components/inputs/button.vue'

export default {
  components: {
    btn,
  },
  computed: {
    folders () {
      return this.$store.getters.folders
    },
    currentFolderindex () {
      return this.$store.state.currentFolderIndex
    }
  },
  mounted () {
    this.loadFolders()
  },
  methods: {
    toggleFolder (folder) {
      if (folder.isExpanded) {
        this.$store.commit('collapseFolder', folder.UUID)
      } else {
        this.$store.dispatch('expandFolder', folder.UUID)
      }
    },
    setCurrentFolder (folder) {
      this.$store.dispatch('setCurrentFolder', folder.UUID)
    },
    loadFolders () {
      this.$store.dispatch('loadRootFolder')
    }
  }
}
</script>

<style lang="scss" scoped>
.folder-item {
  @apply block text-white w-full px-4 py-1 bg-gray-900 flex items-stretch;

  &.selected {
    border-right: 2px solid theme('colors.white');
  }

  &.level-0 {
    @apply bg-opacity-20;
  }

  &.level-1 {
    @apply bg-opacity-30;
  }

  &.level-2 {
    @apply bg-opacity-50;
  }

  &.level-3 {
    @apply bg-opacity-70;
  }

  &.level-4 {
    @apply bg-opacity-90;
  }

  &.level-5, &.level-6, &.level-7, &.level-8, &.level-9, &.level-10, &.level-11, &.level-12 {
    @apply bg-opacity-100;
  }
}

.expand {
  @apply opacity-50 pl-2;

  &:hover {
    @apply opacity-100;
  }
}

.arrow {
  @apply inline-block mr-2;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8.7px;
  border-color: transparent transparent transparent theme('colors.white');

  &.project {
    border-left-color: theme('colors.blue.500');
  }

  &.folder {
    border-left-color: theme('colors.yellow.600');
  }

  &.open {
    transform: rotate(90deg) translateY(1px);
  }
}

.folder-name {
  @apply cursor-pointer text-white text-opacity-80;

  &:hover {
    @apply text-opacity-100;
  }
}
</style>
