<template lang="pug">
teleport(to="#modal-window")
  .modal-back(ref="modalBack" @click="closeModal")
  .modal-wrapper
    .modal-window

      .modal-content(v-if="status === 'ok'")
        FoldersPage.overflow-y-auto.flex-shrink-0
        FilesPage.overflow-y-auto
        FilePage.max-w-md.min-w-xs
      .modal-content.items-center.justify-center(v-else)
        h4 Try to connect to GH REST...

      .actions(v-if="status === 'ok'")
        Btn(@click.prevent="setFile()") Set selected geometry
        a.close(@click="closeModal")
          | cancel
          span.text-2xl.pb-1.pl-2 &times;
      .actions(v-else)
        Btn(@click.prevent="closeModal") Close

</template>

<script>
import FoldersPage from './FoldersPage.vue'
import FilesPage from './FilesPage.vue'
import FilePage from './FilePage.vue'
import Btn from '@/components/inputs/button'

export default {
  name: 'App',
  components: {
    FoldersPage,
    FilesPage,
    FilePage,
    Btn,
  },
  emits: [
    'setfile',
    'closemodal',
  ],
  props: {
    defaultPath: {
      type: String,
      default: '',
    }
  },
  computed: {
    file () {
      return this.$store.state.gh.selectedFile
    },
    status () {
      return this.$store.state.gh.vizGraphicHub.status
    }
  },
  async mounted () {
    await this.$store.dispatch('loadRootFolder')
    if (this.defaultPath !== '') {
      console.log('mounted this.defaultPath =', this.defaultPath)
      this.$store.dispatch('openFolderByPath', this.defaultPath)
    }
  },
  methods: {
    setFile () {
      this.$emit('setfile', this.file)
    },
    closeModal () {
      this.$emit('closemodal')
    },
  }
}
</script>

<style lang="scss" scoped>
.close {
  @apply px-4 py-1 opacity-50 cursor-pointer flex items-center;

  &:hover {
    @apply opacity-100;
  }
}

.modal-back {
  @apply absolute left-0 top-0 w-screen h-screen bg-gray-900 bg-opacity-90 z-50;
}

.modal-wrapper {
  @apply absolute left-0 top-0 w-screen h-screen z-60 pointer-events-none;
  @apply flex justify-center items-center;
}

.modal-window {
  @apply shadow-2xl bg-gray-800 absolute z-100 p-4 pointer-events-auto h-full;
  @apply flex flex-col;
  width: 90%;
  height: calc(100% - 10rem);
}

.modal-content {
  @apply flex;
  height: calc(100% - 4rem);
}

.actions {
  @apply flex w-full items-center justify-center flex-shrink-0;
  height: 4rem;
}
</style>
