<template lang="pug">
.app
  .app-menu
    .scenarios-list
      router-link.scenario-link(v-for="scenario in scenarios" :key="scenario.id" :to="`/${scenario.id}`")
        ScenarioTab(:scenario="scenario")
      button.create-new-scenario(@click.prevent="createNewScenario()") create a new scenario
    .monitors
      StatusMonitor
  .app-page
    //- TestPage
    //- hr
    router-view(v-slot="{ Component }")
      keep-alive
        component(:is="Component")
</template>

<script>
import TestPage from '@/components/pages/test'
import StatusMonitor from '@/components/system/status'
import ScenarioTab from '@/components/blocks/ScenarioTab'

export default {
  name: 'Vizrt Map Control Page',
  components: {
    TestPage,
    StatusMonitor,
    ScenarioTab,
  },
  computed: {
    scenarios () {
      return this.$store.state.scenarios.scenarios
    }
  },
  async created() {
    try {
      const settingsFile = await fetch('settings.json')
      const json = await settingsFile.json()
      
      this.$store.commit('createJsonServer', json.settings.jsonServerIp)
      this.$store.commit('createVizEngines', json.settings.vizEngineIp)
      this.$store.commit('setSettings', json)
    } catch (error) {
      console.error("ERROR when loading settings.json.", error)
    }
    await this.$store.dispatch('loadAllScenarios')
    await this.$store.dispatch('loadCountriesPresets')
    await this.checkVizEngines()
  },
  methods: {
    createNewScenario () {
      this.$store.dispatch('createNewScenario')
    },
    async checkVizEngines() {
      this.$store.state.viz.vizEngines.map(async (vizEngine) => {
        try {
          await fetch(`http://${vizEngine.ip}/api/v1/shm/system/test_variable_just_to_check_connection`, {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(new Date().toString())
          })
          this.$store.commit('setVizEngineStatus', { ip: vizEngine.ip, status: 'OK'})
        } catch (error) {
          console.error('ERROR =', error)
          this.$store.commit('setVizEngineStatus', { ip: vizEngine.ip, status: 'Error'})
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>
.app {
  @apply w-full h-full h-screen grid;
  grid-template-columns: 300px 1fr;

  .app-menu {
    @apply flex flex-col justify-between overflow-auto;
    background-color: #181818;
  }

  .app-page {
    @apply overflow-auto;
    background-color: #393939;
  }
}

.monitors {
  @apply sticky bottom-0;
}

.create-new-scenario {
  @apply w-full p-2 flex justify-center items-center bg-gray-700 bg-opacity-25;

  &:hover {
    @apply bg-opacity-100;
  }
}

.scenario-link {
  @apply block bg-gray-900 bg-opacity-25;

  &.router-link-active {
    @apply bg-gray-800 bg-opacity-75;
  }

  &:hover {
    @apply bg-opacity-100;
  }
}
</style>
