<template lang="pug">
#status
  .connection
    span JSON server:
    .ip
      span {{ jsonServer.ip }}
      StatusPoint(:status="jsonServer.status")
  .connection
    span GH REST:
    .ip
      span {{ vizGraphicHub.ip }}
      StatusPoint(:status="vizGraphicHub.status")
  .connection
    span VizEngine REST:
    .ips
      .ip(v-for="vizEngine in vizEngines" :key="vizEngine.ip")
        span {{ vizEngine.ip }}
        StatusPoint(:status="vizEngine.status")
</template>

<script>
import StatusPoint from './StatusPoint'

export default {
  components: {
    StatusPoint
  },
  computed: {
    jsonServer () {
      return this.$store.state.scenarios.jsonServer
    },
    vizGraphicHub () {
      return this.$store.state.gh.vizGraphicHub
    },
    vizEngines () {
      return this.$store.state.viz.vizEngines
    }
  }
}
</script>

<style lang="scss" scoped>
.connection {
  @apply flex justify-between px-2 py-1 bg-gray-900 text-white text-opacity-25;

  &:hover {
    @apply text-opacity-50;
  }
}

.ips {
  @apply flex flex-col items-end;
}

.ip {
  @apply flex;
  width: max-content;
}
</style>
