<template lang="pug" functional>
.status
  .status-circle(:class="normalizedStatus")
</template>

<script>
export default {
  props: {
    status: {
      type: String,
      default: 'unknown'
    }
  },
  computed: {
    normalizedStatus () {
      return this.status.trim().toLowerCase()
    }
  }
}
</script>

<style lang="scss" scoped>
.status-circle {
  @apply rounded-full bg-gray-700 w-2 h-2 m-2;

  &.pending {
    @apply bg-orange-500;
  }

  &.error {
    @apply bg-red-500;
  }

  &.ok {
    @apply bg-green-500;
  }
}
</style>
